<nav class="nav-bar">
    <h5>ALL ATHLETES</h5>
</nav>
<main class="container">
    <button class="button back-btn"><a class="input-color" href="/trainer">BACK</a></button>
        </br>
    <h1 id="athlete-font">ATHLETES</h1>
    <button class="button" id="add-athlete">ADD ATHLETE</button>
    <div class="row" id="add-athlete-form">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <label for="athlete_name">FULL NAME</label>
                    <input id="athlete_name" type="text" class="input-color">
                </div>
                <div class="input-field col s6">
                    <input id="sport" type="text" class="input-color">
                    <label for="sport">SPORT</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="injury_site">INJURY SITE</label>
                    <input id="injury_site" type="text" class="input-color">
                </div>
                <div class="input-field col s6">
                    <input id="injury" type="text" class="input-color">
                    <label for="injury">INJURY</label>
                </div>
            </div>
            <button type='submit' class="button" id="submit-athlete">SUBMIT</button>
        </form>
    </div>
    <section class="row athletes-container">
        {{#each allAthlete}}
        <h3><a href="/athlete/{{id}}" class="athlete-name-link">{{athlete_name}}</a></h3>
        <hr>
        <div class="col s4">
            <h5>SPORT: {{sport}}</h5>
        </div>
        <div class="col s4">
            <h5>INJURY SITE: {{injury_site}}</h5>
        </div>
        <div class="col s4">
            <h5>INJURY: {{injury}}</h5>
        </div>
        {{/each}}
    </section>


</main>
