<h1>a single athlete will go here</h1>

<h2>ADD ATHLETE</h2>
    {{!-- <button class="button" id="add-athlete">ADD ATHLETE</button> --}}
    <div class="row" id="update-athlete-form">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <label for="athlete_name">FULL NAME</label>
                    <input id="athlete_name" type="text" class="validate" value="{{athlete_name}}">
                </div>
                <div class="input-field col s6">
                    <input id="sport" type="text" class="validate" value="{{sport}}">
                    <label for="sport">SPORT</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="injury_site">INJURY SITE</label>
                    <input id="injury_site" type="text" class="validate" value="{{injury_site}}">
                </div>
                <div class="input-field col s6">
                    <input id="injury" type="text" class="validate" value="{{injury}}">
                    <label for="injury">INJURY</label>
                </div>
            </div>
            <button type='submit' class="button" id="update-athlete" data-id ="{{id}}">SUBMIT</button>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <input type="text" placeholder="SEARCH ATHLETE" id="search-bar" name="search-bar"><i
                class="fas fa-search"></i>
        </div>
    </div>
    <section class="row athletes-container">
        {{#each allAthlete}}
        <h3><a href="/athlete/{{id}}">{{athlete_name}}</a></h3>
        <hr>
        <div class="col s4">
            <h5>SPORT: {{sport}}</h5>
        </div>
        <div class="col s4">
            <h5>INJURY SITE: {{injury_site}}</h5>
        </div>
        <div class="col s4">
            <h5>INJURY: {{injury}}</h5>
            {{/each}}
        </div>
    </section>





{{athlete_name}}
{{sport}}
{{injury_site}}
{{injury}}

<a href="/athlete"><button>Back</button></a>


